<h1>Strona główna</h1>

<% @main_posts.each do |post| %>
  <div class="post">
    <h3>
      <%= post.title %>
    </h3>
    <p>
      <%= truncate_words(post.description) %>
    </p>
    <%= link_to 'Więcej ...', category_post_path(@current_category, post) %>
  </div>
<% end %>

<%= form_tag({:controller => "my", :action => "index"}, :method => "get") do %>
    <%= check_box_tag(:pet_dog) %>
    <%= label_tag(:pet_dog, "I own a dog") %>
    <%= check_box_tag(:pet_cat) %>
    <%= label_tag(:pet_cat, "I own a cat") %>
    <%= label_tag(:q , "test") %>
    <%= text_field_tag(:q) %>
    <%= radio_button_tag(:age, "child") %>
    <%= label_tag(:age_child, "I am younger than 21") %>
    <%= radio_button_tag(:age, "adult") %>
    <%= label_tag(:age_adult, "I'm over 21") %>
    <%= text_area_tag(:message, "Hi, nice site", :size => "24x6") %>
    <br />
    <%= password_field_tag(:password) %>
    <br />
    <%= hidden_field_tag(:parent_id, "5") %>
    <br />
    <%= label_tag(:name, "user name") %>
    <%= search_field(:user, :name) %>
    <br />
    <%= label_tag(:phone, "user phone") %>
    <%= telephone_field(:user, :phone) %>
    <br />
    <%= label_tag(:homepage, "user homepage") %>
    <%= url_field(:user, :homepage) %>
    <br />
    <%= label_tag(:address, "user email") %>
    <%= email_field(:user, :address) %>
    <br />
    <%= select_tag(:city_id, options_for_select([['Lisbon', 1], ['Madrid', 2]])) %>
    <br />
    <%= time_zone_select(:person, :time_zone) %>
    <br />
    <%= select_date Date.today, :prefix => :start_date %>
    <br />
    <%= file_field_tag 'picture' %>
    <br />
    <%= submit_tag("moj pierwszy submit") %>
<% end %>

